<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/sign-up}" th:method="POST" th:object="${newUser}">
    <label for="username">Username</label>
    <input name="username" id="username" th:field="*{username}">

    <label for="email">Enter A Valid Email</label>
    <input type="email" name="email" id="email" th:field="*{email}">

    <label for="password">password</label>
    <input  type="password" name="password" id="password" th:field="*{password}">
    <button type="submit">Click</button>
</form>
</body>
</html>